* {
  margin: 0px;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}
@media (max-width: 600px) {
  /*visual*/
  #visual {
    background-color: #afdaff;
    height: 100vh;
    position: relative;
    width: 100%;
  }
  /*cloud*/
  #visual .cloud {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    padding-top: 50px;
    height: 200px;
  }
  #visual .cloud div {
    opacity: 0.7;
    transition: 0.5s;
  }
  #visual .cloud .cloud1,
  .cloud3,
  .cloud5 {
    width: 10%;
    height: 100px;
  }
  #visual .cloud .cloud2,
  .cloud4,
  .cloud6 {
    width: 10%;
    height: 100px;
  }
  #visual .cloud div img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    animation: cloud 3s ease-in-out infinite;
  }
  @keyframes cloud {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  /*text*/
  #visual .text {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    margin: 0px auto;
    border-radius: 100px 0px 100px 0px;
    /* opacity: 0.5; */
    height: 60vh;
    transform: scale(0);
    transition: 3s;
  }
  #visual .text .portfolio {
    padding: 50px 0px;
    width: 90%;
    margin: 0px auto;
  }
  #visual .text .portfolio img {
    /* display: block;
  margin: 0px auto; */
    object-fit: cover;
    width: 100%;
  }
  #visual .text p {
    /* margin-top: 20px; */
    text-align: center;
    color: #6dade6;
    font-size: 10px;
    font-weight: bold;
  }
  /*mainHanle*/
  #visual .mainHanle {
    width: 45%;
    height: 45%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: 2s;
  }
  #visual .mainHanle img {
    width: 100%;
    height: 100%;
    display: block;
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  /*visual*/
  #visual {
    background-color: #afdaff;
    height: 100vh;
    position: relative;
    width: 100%;
  }
  /*cloud*/
  #visual .cloud {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    padding-top: 50px;
    height: 200px;
  }
  #visual .cloud div {
    opacity: 0.7;
    transition: 0.5s;
  }
  #visual .cloud .cloud1,
  .cloud3,
  .cloud5 {
    width: 100px;
    height: 100px;
  }
  #visual .cloud .cloud2,
  .cloud4,
  .cloud6 {
    width: 100px;
    height: 100px;
  }
  #visual .cloud div img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    animation: cloud 3s ease-in-out infinite;
  }
  @keyframes cloud {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  /*text*/
  #visual .text {
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    margin: 50px auto;
    border-radius: 100px 0px 100px 0px;
    /* opacity: 0.5; */
    height: 60vh;
    transform: scale(0);
    transition: 4s;
  }
  #visual .text .portfolio {
    padding: 50px 0px;
    width: 80%;
    margin: 0px auto;
  }
  #visual .text .portfolio img {
    /* display: block;
  margin: 0px auto; */
    object-fit: cover;
    width: 100%;
  }
  #visual .text p {
    margin-top: 20px;
    text-align: center;
    color: #6dade6;
    font-size: 18px;
    font-weight: bold;
  }
  /*mainHanle*/
  #visual .mainHanle {
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: 2s;
  }
  #visual .mainHanle img {
    width: 100%;
    height: 100%;
    display: block;
  }
}
@media (min-width: 1200px) {
  /*visual*/
  #visual {
    background-color: #afdaff;
    height: 100vh;
    position: relative;
  }
  /*cloud*/
  #visual .cloud {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    padding-top: 50px;
    height: 200px;
  }
  #visual .cloud div {
    opacity: 0.7;
    transition: 0.5s;
  }
  #visual .cloud .cloud1,
  .cloud3,
  .cloud5 {
    width: 260px;
    height: 150px;
  }
  #visual .cloud .cloud2,
  .cloud4,
  .cloud6 {
    width: 266px;
    height: 160px;
  }
  #visual .cloud div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: cloud 3s ease-in-out infinite;
  }
  @keyframes cloud {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  /*text*/
  #visual .text {
    background-color: rgba(255, 255, 255, 0.5);
    width: 60%;
    margin: 50px auto;
    border-radius: 100px 0px 100px 0px;
    /* opacity: 0.5; */
    height: 60vh;
    transform: scale(0);
    transition: 4s;
  }
  #visual .text .portfolio {
    padding: 50px 0px;
    width: 90%;
    margin: 0px auto;
  }
  #visual .text .portfolio img {
    /* display: block;
  margin: 0px auto; */
    object-fit: cover;
    width: 100%;
  }
  #visual .text p {
    margin-top: 20px;
    text-align: center;
    color: #6dade6;
    font-size: 25px;
    font-weight: bold;
  }
  /*mainHanle*/
  #visual .mainHanle {
    width: 550px;
    height: 550px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: 2s;
  }
  #visual .mainHanle img {
    width: 100%;
    height: 100%;
    display: block;
  }
}
